.sign-in-container {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.sign-in-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #ccc;
  max-width: 500px;
  text-align: center;
}

.sign-in-box h2 {
  margin-top: 0;
  font-size: 40px;
  color: darkblue;
}

.input-group {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 15px;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 400px;
}

.input-group .eye {
  margin-left: 10px;
}

.sign-in-box button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.sign-up-text {
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
  margin-left: 300px;
}

.sign-up-text a {
  color: blue;
  text-decoration: none;
  margin-left: 5px;
}

